<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
    <link href="../static/basic_style.css" rel="stylesheet">
    <title>Prediction Facial Keypoints</title>
</head>
<body>
    <h1 class="page_header">Facial Keypoint(Nose tip) Detector</h1>
    <form action="" class="input_picture_number">
        <div class="picture_number_section">
            <label for="picture_number">Picture Number</label>
            <input required type="text" id="picture_number" name="picture_number" placeholder="Picture Number 1~1783"/>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="output_section">
        <div>
            {{Output}}
        </div>
        <img class="result_img" src="{{url_for('static', filename='/img/result.png')}}" />
    </div>
    <script src="{{ url_for('static', filename='app.js') }}" > </script>
</body>
</html>